@charset "UTF-8";

@-webkit-keyframes FadeIn {

	100% {
		opacity: 1;
	}
}

@keyframes FadeIn {

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes FadeInFromLeft {

	100% {
		left: 0;
		opacity: 1;
	}
}

@keyframes FadeInFromLeft {

	100% {
		left: 0;
		opacity: 1;
	}
}

@-webkit-keyframes FadeInFromBottom {

	100% {
		top: 0;
		opacity: 1;
	}
}

@keyframes FadeInFromBottom {

	100% {
		top: 0;
		opacity: 1;
	}
}

/* Twenty Twentyのフォント指定がうざすぎて 「*」 使ってる */

* {
	color: #44494f;
	font-weight: normal;
	font-family: "Open Sans", "Noto Sans JP", sans-serif !important;
}

/* 管理画面のアイコンが消えてしまうので再度上書き */

#wpadminbar *::before {
	font-family: dashicons;
}

/* コンテンツの最大幅を 800px に上書き*/

.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
	max-width: 800px;
}

.entry-content > .wp-block-group.alignfull.has-background {
	padding-top: 4em;
	padding-bottom: 4em;
}

/* Utility*/

.u-mt-0 {
	margin-top: 0 !important;
}

.u-mb-0 {
	margin-bottom: 0 !important;
}

/* メインタイトル */

.home .entry-header {
	display: none !important;
}

/*
	最初のブロック
	ヘッダーの高さが固定値で指定しているので、それと合わせる。
 */

.first-block.wp-block-cover {
	width: calc(100% - 8rem);
	height: calc(100vh - 64px - 1rem);
	margin-right: 1rem;
	overflow: visible;
	text-align: right;
	opacity: 0;
	-webkit-animation: fadein 1s ease .25s 1 normal both;
	animation: FadeIn 1s ease .25s 1 normal both;
}

.first-block.wp-block-cover::before {
	background-image: -webkit-gradient(linear, left top, right top, from(#8affff), to(#38aff3)) !important;
	background-image: linear-gradient(90deg, #8affff 0%, #38aff3 100%) !important;
}

.first-block.wp-block-cover .wp-block-cover__inner-container {
	width: 100%;
	margin-left: -8rem;
}

.first-block.wp-block-cover p {
	max-width: 100% !important;
}

.first-block.wp-block-cover * {
	color: #44494f;
	text-align: left !important;
}

.first-block.wp-block-cover .main-message {
	position: relative;
	left: -1rem;
	max-width: 100% !important;
	padding-left: .25em;
	font-weight: 900;
	font-size: 10vw;
	font-family: "Poppins", sans-serif !important;
	letter-spacing: 1px;
	border-left: solid 1px;
	opacity: 0;
	-webkit-animation: fadeinfromleft 1s ease .5s 1 normal both;
	animation: FadeInFromLeft 1s ease .5s 1 normal both;
}

.first-block.wp-block-cover .main-message + p {
	position: relative;
	left: -2rem;
	opacity: 0;
	-webkit-animation: fadeinfromleft 1s ease 1s 1 normal both;
	animation: FadeInFromLeft 1s ease 1s 1 normal both;
}

/* フッター */

.home .footer-nav-widgets-wrapper {
	margin-top: 0;
	border-top: none;
}

.home .footer-nav-widgets-wrapper .textwidget p {
	font-size: 14px;
}

.home .footer-nav-widgets-wrapper .textwidget img {
	width: 240px;
	height: auto;
	margin: 0;
}

.footer-widgets.column-two {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.footer-widgets.column-two .widget_nav_menu {
	width: 50%;
	margin-top: 0;
}

.footer-widgets .widget_nav_menu a {
	color: inherit !important;
}

/*
  ヘッダー
	PCサイズでは高さ 100px / SPサイズでは高さ 48px + 16px（上下padding）
 */

#site-header .search-toggle .toggle-text,
#site-header .mobile-nav-toggle .toggle-text {
	display: none;
}

#site-header .header-inner {
	padding-top: 8px;
	padding-bottom: 8px;
}

#site-header .site-description {
	display: none;
}

#site-header .custom-logo {
	width: auto !important;
	height: 48px;
	max-height: 48px;
}

/* ナビ */

.primary-menu > li > a,
.footer-widgets a {
	color: inherit !important;
}

li > a {
	text-decoration: none !important;
}

/* Policy */

#sec-about {
	padding-right: 0;
	padding-left: 0;
}

#sec-about .alignfull .wp-block-media-text__media img {
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

#sec-about .wp-block-media-text * {
	max-width: 100%;
}

/* 会社情報 */

#sec-company {
	position: relative;
	background: url(https://images.unsplash.com/photo-1497366754035-f200968a6e72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80) no-repeat center/cover;

	/* スタイル：アウトライン */
}

#sec-company::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #090e0a;
	opacity: .7;
	content: "";
}

#sec-company .wp-block-columns {
	-webkit-box-align: center;
	align-items: center;
}

#sec-company .wp-block-table table,
#sec-company .wp-block-table th,
#sec-company .wp-block-table td {
	vertical-align: top;
	border: none;
}

#sec-company .wp-block-group__inner-container {
	position: relative;
	z-index: 1;
}

#sec-company .wp-block-group__inner-container * {
	color: #fff;
}

#sec-company .wp-block-button__link {
	-webkit-transition: color .25s, border-color .25s, background-color .25s;
	transition: color .25s, border-color .25s, background-color .25s;
}

#sec-company .wp-block-button__link:hover {
	color: #090e0a;
	background-color: #fff;
	border-color: #fff;
}

/* Flow */

#sec-flow h3 {
	margin-bottom: .5em;
}

#sec-flow h3 em {
	margin-right: .2em;
	color: #95a844;
	font-size: 1.6em;

	/* display: block; */
	font-family: "Libre Baskerville", serif !important;
}

#sec-flow .wp-block-media-text p {
	padding-left: .5em;
}

/* プラン */

#sec-plans {
	margin: 0;
}

#sec-plans .wp-block-columns {
	padding: 0;
}

#sec-plans .wp-block-column {
	position: relative;
	-webkit-transition: opacity .25s;
	transition: opacity .25s;
}

#sec-plans .wp-block-column * {
	width: 100%;
	max-width: 100%;
	margin: 0;
	color: #fff;
}

#sec-plans .wp-block-image {
	height: 56vw;
	overflow: hidden;
}

#sec-plans .wp-block-image > a {
	display: block;
	height: 100%;
}

#sec-plans .wp-block-image img {
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-webkit-transition: -webkit-transform .25s;
	transition: -webkit-transform .25s;
	transition: transform .25s;
	transition: transform .25s, -webkit-transform .25s;
}

#sec-plans .wp-block-column:hover {
	opacity: .7;
}

#sec-plans .wp-block-column:hover .wp-block-image img {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

#sec-plans .wp-block-group {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 0 4rem;
	text-align: center;
	background-color: rgba(6, 14, 10, .4);
	pointer-events: none;
}

/* 新着記事 */

#sec-posts .wp-block-latest-posts li {
	padding: 1rem 0;
	border-bottom: solid 1px #dcdcdc;
}

#sec-posts .wp-block-latest-posts a {
	display: block;
	color: #95a844;
}

#sec-posts .wp-block-latest-posts__post-excerpt {
	font-size: .8em;
}

#sec-posts .wp-block-latest-posts__post-excerpt a {
	display: none;
}

/* Service */

#sec-service .wp-block-image {
	height: 200px;
}

#sec-service .wp-block-image img {
	height: 100%;
	margin: 0 auto;
	-o-object-fit: contain;
	object-fit: contain;
}

#sec-service .wp-block-column {
	padding: 2rem 2.4rem;
	background: #fff;
}

#sec-service .wp-block-column .wp-block-image:first-child {
	margin-top: 0 !important;
}

#sec-service .wp-block-column :last-child {
	padding-bottom: 1rem;
}

@media screen and (min-width: 1000px) {

	.entry-content > .alignwide {
		width: 1200px;
		max-width: 1200px;
	}

	.first-block.wp-block-cover {
		width: calc(100% - 20rem);
		height: calc(100vh - 100px - 4rem);
		margin-right: 4rem;
	}

	.first-block.wp-block-cover .wp-block-cover__inner-container {
		margin-left: -16rem;
	}

	.first-block.wp-block-cover .main-message {
		left: -2rem;
		font-size: 100px;
	}

	#site-header {
		display: -webkit-box;
		display: flex;
		-webkit-box-align: center;
		align-items: center;
		height: 100px;
	}

	#site-header .header-inner {
		padding-top: 0;
		padding-bottom: 0;
	}

	#site-header .custom-logo {
		height: 72px;
		max-height: 72px;
	}

	#site-header .primary-menu > .menu-item > a {
		position: relative;
		padding: .25em;
	}

	#site-header .primary-menu > .menu-item > a::before {
		position: absolute;
		bottom: -4px;
		left: 0;
		display: block;
		width: 100%;
		height: 1px;
		background: currentColor;
		opacity: 0;
		-webkit-transition: bottom .25s, opacity .25s;
		transition: bottom .25s, opacity .25s;
		content: "";
	}

	#site-header .primary-menu > .menu-item > a:hover::before {
		bottom: 0;
		opacity: 1;
	}

	#sec-about .alignfull .wp-block-media-text__media {
		height: 80vh;
	}

	#sec-about .wp-block-media-text:not(.has-media-on-the-right) {
		grid-template-columns: 60% auto;
	}

	#sec-about .wp-block-media-text:not(.has-media-on-the-right) .wp-block-group {
		margin-left: -10rem;
	}

	#sec-flow .wp-block-media-text {
		margin-top: 8rem;
	}

	#sec-plans .wp-block-image {
		height: 25vw;
	}
}

@media screen and (max-width: 600px) {

	.wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__media {
		grid-row: 1;
	}

	.wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__content {
		grid-row: 2;
	}

	#sec-about .block-2 {
		margin-top: -4rem;
	}

	#sec-about .block-2 .wp-block-media-text__media {
		width: 64%;
		margin: 0 auto;
	}

	#sec-flow .wp-block-media-text__media {
		margin: 0 4rem;
	}

	#sec-flow .wp-block-media-text__content .wp-block-group {
		margin-top: 0;
		margin-bottom: 0;
	}
}
