
/*
  ヘッダー
	PCサイズでは高さ 100px / SPサイズでは高さ 48px + 16px（上下padding）
 */
#site-header {

	@include pc {
		display: flex;
		align-items: center;
		height: 100px;
	}


	.search-toggle .toggle-text,
	.mobile-nav-toggle .toggle-text {
		display: none;
	}

}

#site-header .header-inner {
	padding-top: 8px;
	padding-bottom: 8px;

	@include pc {
		padding-top: 0;
		padding-bottom: 0;
	}

}

#site-header .site-description {
	display: none;
}

#site-header .custom-logo {
	width: auto !important;
	height: 48px;
	max-height: 48px;

	@include pc {
		height: 72px;
		max-height: 72px;
	}

}


@include pc {

	#site-header .primary-menu > .menu-item > a {
		position: relative;
		padding: .25em;

		&::before {
			position: absolute;
			bottom: -4px;
			left: 0;
			display: block;
			width: 100%;
			height: 1px;
			background: currentColor;
			opacity: 0;
			transition: bottom .25s, opacity .25s;
			content: "";
		}

		&:hover::before {
			bottom: 0;
			opacity: 1;
		}
	}
}

