/* Policy */
#sec-about {
	padding-right: 0;
	padding-left: 0;

	.alignfull .wp-block-media-text__media {

		@include pc {
			height: 80vh;
		}
	}

	.alignfull .wp-block-media-text__media img {
		height: 100%;
		object-fit: cover;
	}

	.wp-block-media-text * {
		max-width: 100%;
	}

	@include pc {

		.wp-block-media-text:not(.has-media-on-the-right) {
			grid-template-columns: 60% auto;
		}

		.wp-block-media-text:not(.has-media-on-the-right) .wp-block-group {
			margin-left: -10rem;
		}
	}

	@include mobile {

		.block-2 {
			margin-top: -4rem;

			.wp-block-media-text__media {
				width: 64%;
				margin: 0 auto;
			}
		}
	}
}
